@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

/* Adjust colors to match WID.world style */
a {
    color: #0b6685;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #0b6685;
}

.btn-primary {
    background-color: #0b6685;
    border-color: #084c62;
}

.btn-primary:hover {
    background-color: #084c62;
}

/*.alert-info {
    color: #1f4f4b;
    background-color: #f0f1eb;
    border: none;
}*/

#back-wid-world {
    margin-bottom: 20px;
    background-color: #f5f5f5;
}

#back-wid-world a {
    display: block;
    color: #666;
    text-decoration: none;
    line-height: 2em;
    font-size: small;
}

#back-wid-world a:hover {
    color: #333;
}

.shiny-plot-output {
    background-image: url('spin.gif');
    background-size: 99px 99px;
    background-position: center center;
    background-repeat: no-repeat;
}

.shiny-plot-output.recalculating {
    opacity: 1;
}

.shiny-plot-output.recalculating > img {
    opacity: 0.3;
}

.navbar-default {
    border-top: 2px solid #005C7D;
    min-height: 30px;
}

.navbar-default .navbar-brand {
    text-transform: uppercase;
    padding: 2.5px 10px 7.5px 10px;
    height: 20px;
    line-height: 20px;
}

.navbar-header {
    margin-bottom: 10px;
}

.navbar-default .navbar-brand a span {
    font-size: 12px;
    color: #FFF;
    margin-bottom: 0;
    margin-top: -3px;
}

.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-default .navbar-brand a,
.navbar-default .navbar-brand a:focus,
.navbar-default .navbar-brand a:hover {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

.navbar-default .navbar-brand:focus a,
.navbar-default .navbar-brand:hover a {
    color: #FFF;
    font-weight: bold;
}

.navbar {
    background-color: #0b6685;
    border-bottom: none;
    text-transform: uppercase;
}

.navbar-default .navbar-nav li a {
    background-color: #0b6685;
    color: #FFF;
}

.navbar-default .navbar-nav li a:hover {
    background-color: #005C7D;
    color: #FFF;
}

.navbar-default .navbar-nav li.active > a,
.navbar-default .navbar-nav li.active > a:focus,
.navbar-default .navbar-nav li.active > a:hover {
    background-color: #005C7D;
    color: #FFF;
}

.navbar-inverse .dropdown-menu {
    background-color: #222;
    border-color: #080808;
}

.navbar-inverse .dropdown-menu li a:hover {
    background-color: #080808;
}

.example-preview {
    white-space: nowrap;
    font-size: 12px;
}

ul#example_tabs + .tab-content {
    overflow: scroll;
}

ul#example_tabs > li > a {
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
}

/* Improve file input widget */
#file_input_progress {
    margin-bottom: 0;
}

#panel_file_input .form-group {
    margin-bottom: 0;
}

#plot_tabs + .tab-content {
    padding: 20px;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 50px;
    border: 1px solid #DDD;
    border-top: none;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding-left: 10px;
}

code {
    color: inherit;
    background-color: #EEE;
}

.tabs-presentation {
    margin-bottom: 20px;
}

.tabs-presentation tr {
    border-top: 1px solid #EEE;
}

.tabs-presentation td {
    vertical-align: middle;
}

.tabs-presentation td:first-child {
    text-align: center;
}

.tabs-presentation i {
    margin-right: 20px;
}

.tabs-presentation p {
    margin: 15px 0 15px 0;
}

.nav-doc {
    display: none;
    position: fixed;
}

.nav-doc ul {
    list-style: none;
}

.nav-doc li {
    padding: 0;
    margin: 0;
}

.nav-doc li > a {
    display: block;
    padding: 3px 0 3px 20px;
    margin-top: 0;
    margin-bottom: 0;
    border-left: solid 3px #CCC;
    border-top: none;
    border-bottom: none;
    color: #000;
    font-weight: bold;
}

.nav-doc li > a:hover, .nav-doc li > a:focus {
    border-left: solid 3px #333;
    text-decoration: none;
}

.nav-doc li > ul {
    margin-left: 0;
    padding-left: 0;
}

.nav-doc li > ul > li {
    margin-left: 0;
    padding-left: 0;
}

.nav-doc li > ul > li > a {
    padding-left: 40px;
    font-weight: normal;
}

body {
    font-family: 'Lato', sans-serif;
}

#run {
    margin-bottom: 20px;
}

.anchor {
    display: block;
    position: relative;
    top: -310px;
    visibility: hidden;
}

.select-synthpop .checkbox {
    margin-top: 0;
}

.select-synthpop div:first-child {
    margin-bottom: 0;
}

.select-synthpop .selectize-control {
    margin-bottom: 0;
}

#synthpop_dl_excel {
    margin-top: 10px;
}

span.btn-file {
    margin-right: -2px !important;
}

#sheet_select .form-group {
    margin: 0;
}

#sheet_select .checkbox {
    margin: 0;
}

#sheet_select .checkbox > label {
    display: block;
}

#sheets_unselect_all {
    margin-top: 10px;
}

#sheets_import_selected {
    margin-top: 10px;
}

#contrib_display_choice, #contrib_type_choice {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .nav-doc {
        display: block;
    }
    .anchor {
        display: block;
        position: relative;
        top: -110px;
        visibility: hidden;
    }
    #synthpop_dl_excel {
        margin-top: 0;
    }
    #sheets_unselect_all {
        margin-top: 0;
    }
    #sheets_import_selected {
        margin-top: 0;
    }
    #run {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .nav-doc {
        display: block;
    }
    .navbar-nav {
        float: right;
    }
    .anchor {
        display: block;
        position: relative;
        top: -60px;
        visibility: hidden;
    }
    #synthpop_dl_excel {
        margin-top: 0;
    }
    #sheets_unselect_all {
        margin-top: 0;
    }
    #sheets_import_selected {
        margin-top: 0;
    }
    #run {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .nav-doc {
        display: block;
    }
    .navbar-nav {
        float: right;
    }
    .anchor {
        display: block;
        position: relative;
        top: -60px;
        visibility: hidden;
    }
    #synthpop_dl_excel {
        margin-top: 0;
    }
    #sheets_unselect_all {
        margin-top: 0;
    }
    #sheets_import_selected {
        margin-top: 0;
    }
    #run {
        margin-bottom: 0;
    }
}
