@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.navbar-default .navbar-brand {
    padding-top: 8px;
    text-transform: uppercase;
}


.navbar-default .navbar-brand a p:first-child {
    font-size: 20px;
    color: #FFF;
    margin-bottom: 0;
    margin-top: 0;
}

.navbar-default .navbar-brand a p:last-child {
    font-size: 10px;
    color: #FFF;
    margin-bottom: 0;
    margin-top: -3px;
}

.navbar-default .navbar-brand a,
.navbar-default .navbar-brand a:focus,
.navbar-default .navbar-brand a:hover {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

.navbar-default .navbar-brand:focus a,
.navbar-default .navbar-brand:hover a {
    color: #FFF;
    font-weight: bold;
}

.navbar {
    /*background-color: #0b6685;*/
    border-bottom: none;
    /*text-transform: uppercase;*/
}

.navbar-default .navbar-nav li a {
    /*background-color: #0b6685;*/
    color: #FFF;
}

.navbar-default .navbar-nav li a:hover {
    /*background-color: #005C7D;*/
    color: #FFF;
}

.navbar-default .navbar-nav li.active a,
.navbar-default .navbar-nav li.active a:focus,
.navbar-default .navbar-nav li.active a:hover {
    /*background-color: #005C7D;*/
    color: #FFF;
}

.tabs-presentation {
    margin-bottom: 20px;
}

.tabs-presentation tr {
    border-top: 1px solid #EEE;
}

.tabs-presentation td {
    vertical-align: middle;
}

.tabs-presentation td:first-child {
    text-align: center;
}

.tabs-presentation i {
    margin-right: 20px;
}

.tabs-presentation p {
    margin: 15px 0 15px 0;
}

.nav-doc {
    display: none;
    position: fixed;
}

.nav-doc ul {
    list-style: none;
}

.nav-doc li {
    padding: 0;
    margin: 0;
}

.nav-doc li > a {
    display: block;
    padding: 3px 0 3px 20px;
    margin-top: 0;
    margin-bottom: 0;
    border-left: solid 3px #CCC;
    border-top: none;
    border-bottom: none;
    color: #000;
    font-weight: bold;
}

.nav-doc li > a:hover, .nav-doc li > a:focus {
    border-left: solid 3px #333;
    text-decoration: none;
}

.nav-doc li > ul {
    margin-left: 0;
    padding-left: 0;
}

.nav-doc li > ul > li {
    margin-left: 0;
    padding-left: 0;
}

.nav-doc li > ul > li > a {
    padding-left: 40px;
    font-weight: normal;
}

body {
    margin-top: 380px;
    margin-bottom: 50px;
    font-family: 'Lato', sans-serif;
}

.anchor {
    display: block;
    position: relative;
    top: -310px;
    visibility: hidden;
}

#synthpop_dl_excel {
    margin-top: 10px;
}

span.btn-file {
    margin-right: -2px !important;
}

@media (min-width: 768px) {
    .nav-doc {
        display: block;
    }
    body {
        margin-top: 130px;
    }
    .anchor {
        display: block;
        position: relative;
        top: -110px;
        visibility: hidden;
    }
    #synthpop_dl_excel {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .nav-doc {
        display: block;
    }
    body {
        margin-top: 80px;
    }
    .anchor {
        display: block;
        position: relative;
        top: -60px;
        visibility: hidden;
    }
    #synthpop_dl_excel {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .nav-doc {
        display: block;
    }
    body {
        margin-top: 80px;
    }
    .anchor {
        display: block;
        position: relative;
        top: -60px;
        visibility: hidden;
    }
    #synthpop_dl_excel {
        margin-top: 0;
    }
}
